:root {
    --color: red;
}

body {
    background-color: rgb(211, 211, 209);
}

.nabvar_bg {
    background-color: rgba(211, 211, 209, 0.812);
}

.textos_body {
    color: rgb(84, 110, 122);
}

.hr_linea {
    border: 1px solid #32373B;
}

p {
    color: #232424;
}

.card_style {
    border: 2px solid #32373B;
}

.card-body01 {
    background-color: #32373B;
    border: 2px solid #32373B;

}

.card-imagen {
    background-color: #32373B;
    border: 2px solid #32373B;
    height: 70%;
}

.icon {
    border-radius: 70%;
}